form {
  display: flex;
}
label {
  display: block;
  font-size: larger;
  font-weight: 800;
  height: 20px;
  margin-bottom: 10px;
}
form button {
  display: block;
  background-color: white;
  border: 1px solid black;
  margin-top: 30px;
  cursor: pointer;
}
.btn__delete {
  background-color: white;
  border: none;
  cursor: pointer;
}
input {
  height: 20px;
  margin-right: 10px;
}
a,
a:hover {
  color: rgb(66, 65, 65);
  text-decoration: none;
}
table {
  margin-top: 25px;
}
th {
  font-weight: 800;
  text-align: left;
}
table,
th,
td {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
}
